ALIBABA_CLOUD_ACCESS_KEY_ID=your_access_key_id
ALIBABA_CLOUD_ACCESS_KEY_SECRET=your_access_key_secret
# 实际的 region id
ALIBABA_CLOUD_REGION=region_id
# 实际的 workspace id
ALIBABA_CLOUD_WORKSPACE=workspace_id

